* {
  margin: 0;
  padding: 0;
}
body {
  background: url("./assets/img/zed.jpg") no-repeat center top;
  background-position: center top;
  background-size: 100%;
  background-attachment: fixed;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h4 {
  padding: 5px 0px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.808);
}
#first {
  display: fixed;
}
/* Title*/

.title {
  background-color: #333;
  display: flex;
  justify-content: space-around;
  /* justify-items: center; */
}

.title_right {
  padding: 5px;
}
.title_right a {
  margin: 3px 0 0 5px;
}
.title_left {
  padding: 5px;
}
.title_left-list {
  display: flex;
  padding: 0px 0px 0 317px;
}
.title_left-item {
  display: flex;
  list-style: none;
  padding: 2px 11px;
}
.title_left-item_install {
  background-color: #fff;
}
.title_left-item a:hover {
  color: #fff;
}
.item-stall {
  margin: 0px -3px 0px 4px;
}
.title_left ul li a :hover {
  color: #fff;
  background-color: aqua;
}
.item-login {
  border-right: 1px solid hsla(0, 0%, 100%, 0.4);
  padding-right: 7px;
}
.title a {
  font-size: 14px;
  color: #b8b6b4;
  text-decoration: none;
  display: block;
  align-self: end;
}
.title_right a:hover {
  color: white;
}
/* language */
.title_left-item ul {
  list-style: none;
  text-decoration: none;
}
.title_left-item_install a:hover {
  color: black;
}
.title_left-item > .title_left-item_sub {
  position: absolute;
  background-color: #333;
  z-index: 10;
  display: none;
}
li:hover ul.title_left-item_sub {
  display: block;
}
.title_left-list li {
  position: relative;
}
.title_left-item_sub {
  top: 20px;
  right: -33px;
  width: 100px;
  padding: 7px 8px;
}
.title_left-item_sub li a {
  padding: 8px 0px 6px 0px;
  border-bottom: 1px solid #b8b6b4;
}
/* heading */
#header {
  background-color: #fff;
}
.container {
  max-width: 960px;
  margin: 0px auto;
}
nav {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 0px;
  margin: 0px;
}
#logo {
  padding: 2px 0px;
}
#logo img {
  max-width: 50px;
  height: auto;
}
#title {
  background-color: #333;
}

#main-menu {
  display: flex;
  list-style: none;
}
#main-menu li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 18px 20px;
}
#main-menu ul.sub-menu {
  list-style: none;
  position: absolute;
  padding: 15px 0px;
  width: 200px;
  top: 37px;
  z-index: 9;
}
#main-menu li {
  position: relative;
  background-color: #fff;
}
.sub-menu a {
  /* padding: 8px 20px; */
  border-bottom: 1px solid #333;
}
.sub-menu li:last-child a {
  border: none;
}
/* .sub-menu{
    display: none;
  } */
ul#main-menu li > .sub-menu {
  display: none;
}
ul#main-menu li:hover .sub-menu {
  display: block;
  animation: Index ease-in 0.3s;
}
#main-menu li a:hover {
  color: #f6402d;
  background-color: #333;
}
@keyframes Index {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#main-menu > li > a:after {
  content: "";
  background-color: #f6402d;
  height: 4px;
  width: 0%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#main-menu > li > a {
  position: relative;
}
#main-menu > li:hover > a:after {
  width: 100%;
}
.sub-menu a:hover {
  border-bottom: 1.5px solid red;
}
/* body */
#container {
  display: flex;
}
.body-left {
  width: 20%;
  height: auto;
}
.body-right {
  width: 80%;
  height: auto;
}
#second {
  max-width: 940px;
  height: 36px auto;
  background: linear-gradient(to right, #646681, #36364c);
  margin: 35px 0px 0px 45px;
  display: flex;
  z-index: 8;
}
#store-nav ul {
  z-index: 8;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
#store-nav ul li a {
  text-decoration: none;
  color: #d9d9d9;
  display: block;
  padding: 9px 36px;
  display: block;
}
.store-nav_search {
  padding: 7px 0px 0px 11px;
}
.store-nav_search input {
  height: 19px;
}
.store-nav_search button {
  font-size: 15px;
}
#store-nav ul li:hover {
  background: linear-gradient(to right, #36364c, #646681);
  color: white;
  position: relative;
}
.store-nav_submenu {
  background-color: black;
}
#store-nav ul li > .store-nav_submenu {
  display: none;
  position: absolute;
}
#store-nav ul li:hover .store-nav_submenu {
  text-decoration: none;
  display: block;
  transition: 0.6s;
}
.store-nav_submenu {
  box-shadow: 0 0 12px #000000;
}
.store-nav_submenu li {
  font-size: 14px;
  width: 247px;
}
.store-nav_submenu li a:hover {
  border-bottom: 1px solid white;
  background-color: #333;
}
/* <!-- body-left start --> */
.body-left img {
  width: 100%;
  height: auto;
}
#body-left-container {
  width: 80%;
  margin-left: auto;
  border-top: 1px solid white;
  margin-top: 70px;
}
#body-left-container a {
  color: rgba(255, 255, 255, 0.705);
  text-decoration: none;
  padding: 2px 0px;
  display: block;
}
#body-left-container a:hover {
  color:white;
}
#body-left-container i {
  padding-right: 10px;
}
/* <!-- body-left end --> */
